<h1>Word Counter</h1>

<form method="post" action="/">
  <p>Input the text you want analyzed here:</p>
  <textarea name="user_text"></textarea>
  <br>
  <button type="submit" value="submit">Submit</button>
</form>
