<!DOCTYPE html>
<html>
  <body>
    <form action='/posts' method="POST">
      <label for "name">Name:</label>
      <input type="text" id="name" name="name">
      <br />
      <label for "content">Content:</label>
      <input type="text" id="content" name="content">
      <br />
      <input type="submit" value="submit" id="submit">
    </form>
  </body>
</html>
