<h1>Success!</h1>
<p>Welcome to the secret content, <%= current_user.username%>!!. Because we were able to authenticate you, you can see all of this awesome stuff!!</p>
<p>It turns out...</p>
<ul>
    <li>Haley Joel Osment was alive the whole time</li>
    <li>Dumbledore kills Snape.</li>
    <li>"Rosebud" was Charles Foster Kane's beloved childhood mini-van.</li>
    <li>You were in purgatory the whole time you were watching "Lost".</li>
</ul>
<p><a href="/logout">Log Out</a></p>
