<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>
    <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSwGoDVUDPLd8f_397Fp9BrLKlu-6msu0sSiT0LeEZQ8Ga2228z">

    <form method="POST" action="/food">
      <p>Your Name: <input type="text" name="name"></p>
      <p>Your Favorite Food: <input type="text" name="favorite_food"></p>
      <input type="submit">
    </form>

  </body>
</html>
