<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>User Input</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <h3>Enter your phrase:</h3>
    <form method="POST" action="/piglatinize">
      <p>Word:<input type="text" name="user_phrase"></p>
      <input type="submit" name="submit">
    </form>
  </body>
</html>
