<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>My Super Cool Friends List</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>My Super Cool Friends List</h1>

    <!-- Iterate through the @friends array here to display each item in its own <h2> tag -->
    <% @friends.each do |friend| %>
      <h2><%= friend %></h2>
    <% end %>
  </body>
</html>
