<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Ultimate String Reverser</title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css">
  </head>

  <body>
    <h1>The Ultimate String Reverser</h1>

    <form method="POST" action="/reverse">
      <input type="text" name="string">
      <input type="submit">
    </form>
  </body>
</html>