<!DOCTYPE html>
<html>
  <body>
    <h1> Buster's Best Bowling Alley</h1>
    <h2> Bet You Can't Bowl A Strike Every Time</h2>
    <p> 97 Bowling Alley Lane, Boulder CO </p>
    <h1><%= "I love " + "Ruby!!" %></h1>
    <% if 1 == 2 %>
      <p>1 equals 2.</p>
    <% else %>
      <p> 1 does not equal 2.</p>
    <% end %>
  </body>
</html>
