<h1>All Figures</h1>
<% @figures.each do |figure| %>
  <a href="/figures/<%= figure.id %>"><%= figure.name %></a><br>
<% end %>
<br><br>
<a href="/figures/new"><input type="button" value="Create New Figure"></a>
