<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1>Welcome to FlatBank</h1>
    <h3>Log In Please</h3>
    <form method="POST" action='/login'>
      <label for "username">Username:</label>
      <input type="text" id="username" name="username">
      <br />
      <label for "password">Password:</label>
      <input type="text" id="password" name="password">
      <br />
      <input type="submit" value="Log In">
    </form>
  </body>
</html>
