<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Puppy</title>
  </head>
  <body>
    <h1>Create a New Puppy</h1>
    <form method="POST" action="/">
      <p>Name:<input type="text" name="name"></p>
      <p>Breed:<input type="text" name="breed"></p>
      <p>Age:<input type="text" name="age"></p>
      <p><button type="submit" value="submit">Submit</button></p>
    </form>
  </body>
</html>
