<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create a New Puppy</title>
  </head>
  <body>
    Puppy Name:
    <%= @new_pooch.name %>
    Puppy Breed:
    <%= @new_pooch.breed %>
    Puppy Age:
    <%= @new_pooch.age %>
  </body>
</html>
