<h1>Create a New Landmark</h1>
<form method="POST" action="/landmarks">
  <label><strong>Name:</strong></label><input type="text" name="landmark[name]" id="landmark_name"><br><br>
  <label><strong>Year Completed:</strong></label><input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br><br>

  <input type="submit" value="Create New Landmark">
</form>
