<h1>Welcome to a history of NYC!</h1>
<p>What would you like to do?</p>
<ul>
  <li>View all Historical Figures</li>
  <li>View all Historical Landmarks</li>
  <li>Create a new Historical Figure</li>
</ul>
