<!DOCTYPE html>
<html>
  <body>
    <form method="POST" action="/recipes">
      <label for "name">Name: </label>
      <input type="text" id="name" name="name">
      <br />
      <label for "ingredients">Ingredients: </label>
      <input type="text" id="ingredients" name="ingredients">
      <br />
      <label for "cook_time">Cook Time: </label>
      <input type="text" id="cook_time" name="cook_time">
      <br />
      <input type="submit" id="submit" value="Submit">
    </form>
  </body>
</html>
